.table-container {
    padding: 10px;
    height: 100vh;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th,
.custom-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
}

.custom-table th {
    font-weight: 500;
    background-color: #f8f9fa;
}

.doctor-cell {
    width: 200px;
    background-color: #b8cce4;
    overflow: hidden;
}


.select2-container {
    width: 100% !important;
}

.select2-selection {
    border: none !important;
    background-color: transparent !important;
    height: 100% !important;
}

.select2-selection__rendered {
    font-weight: bold;
    color: #000 !important;
    text-align: left !important;
    padding-left: 15px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    height: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none !important;
}

.reason-cell {
    width: 200px;
    padding: 0 !important;
}

.reason-item {
    padding: 25px 12px;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;
}

.appt-cancel {
    background-color: #ffc7ce;
}

.feedback {
    background-color: #c6efce;
}

.questions {
    background-color: #95b3d7;
}

.others {
    background-color: #d9d9d9;
}

.patient-cell {
    width: 180px;
    padding: 0 !important;
}

.patient-list {
    height: 300px;
    overflow-y: auto;
    width: 180px;
    text-align: center;
}

.patient-item {
    padding: 8px 12px;
    border-bottom: 1px solid #dee2e6;
}

.chat-cell {
    padding: 12px !important;

}

.chatarea{
        height: 300px !important;
    overflow: auto;
}

.patient-list::-webkit-scrollbar {
    width: 6px;
}

.patient-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.patient-list::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.5);
    border-radius: 10px;
    transition: background 0.2s ease;
}

.patient-list::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.8);
}

.patient-list {
    scrollbar-width: thin;
    scrollbar-color: rgba(136, 136, 136, 0.5) #f1f1f1;
}

.patient-list {
    overflow-y: overlay;
}


.phonenumber{
    cursor: pointer;
}

.feedbackWrapper{
    width: 100%;
    border: 1px solid rgb(0,0,0);
    padding: 5px;
    margin-top: 10px;
}

.feedbacktitle{
    font-weight: bold;
    font-size: 12px;
}

.timeago{
    font-size: 10px;
    color: green;
    text-align: right;
}


.date{
    font-size: 11px;
    color: #6672ff;
    text-align: right;
    font-weight: bold;
    
}






.chat-container {
    max-width: 800px;
    margin: 0 auto;
}

.message {
    margin-bottom: 15px;
}

.message-bubble {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 12px;
    max-width: 70%;
    color: white;
}

.question {
    text-align: left;
}

.question .message-bubble {
    background-color: #1f2937;
}

.answer {
    text-align: right;
}

.answer .message-bubble {
    background-color: #065f5c;
}

.timestamp {
    font-size: 11px;
    color: #8b9398;
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
